<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board_file">

	<insert id="insert">
		insert into com_board_file values(null,#{parent_seq},#{ori_name},#{sys_name})
	</insert>
	
	<insert id="insertDept">
		insert into dept_board_file values(null,#{parent_seq},#{ori_name},#{sys_name})
	</insert>
	
	<select id="selectBySeq" resultType="com.kdt.dto.Board_FileDTO">
		select * from com_board_file where parent_seq = #{parent_seq}
	</select>
	
	<select id="selectDeptBySeq" resultType="com.kdt.dto.DeptBoard_FileDTO">
		select * from dept_board_file where parent_seq = #{parent_seq}
	</select>

</mapper>