<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mail_file">

	<insert id="insert">
		insert into mail_file values(null,#{fparent_seq},#{ori_name},#{sys_name})
	</insert>
	
	<select id="selectBySeq" resultType="com.kdt.dto.Board_FileDTO">
		select * from mail_file where fparent_seq = #{fparent_seq}
	</select>

</mapper>