<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mails">

	<insert id="insert" useGeneratedKeys="true" keyProperty="seq">
		INSERT INTO sender_mail VALUES(default, #{sender}, #{receipient}, #{title} ,
		#{contents}, default, default, default);
	</insert>
	
	<insert id="insertReceipt">
		INSERT INTO receipient_mail VALUES(default, #{parent_seq},#{receipient}, #{sender}, default, default, default);
	</insert>

	<select id="selectBySeq" resultType="com.kdt.dto.MailDTO">
		SELECT * FROM sender_mail WHERE SEQ=#{seq};
	</select>
	
	<select id="selectDelInbox" resultType="com.kdt.dto.MailDTO">
		SELECT * FROM sender_mail WHERE is_delete=true order by seq desc; 
	</select>
	
	<select id="selectDelSent" resultType="com.kdt.dto.MailReceiptDTO">
		SELECT * FROM receipient_mail WHERE is_delete=true order by seq desc;
	</select>

	<select id="selectAll" resultType="com.kdt.dto.MailDTO">
		SELECT * FROM sender_mail order by seq desc;
	</select>

	<select id="selectAllSend" resultType="com.kdt.dto.MailDTO">
		SELECT * FROM sender_mail order by seq desc;
	</select>

	<select id="selectAllTemp" resultType="com.kdt.dto.MailDTO">
	
	</select>

	<select id="selectAllSpam" resultType="com.kdt.dto.MailDTO">
	
	</select>

	<select id="selectAllToMe" resultType="com.kdt.dto.MailDTO">
		SELECT * FROM sender_mail WHERE sender=receipient order by seq desc;
	</select>

	<update id="updateInbox">
		UPDATE sender_mail SET is_delete=true WHERE seq=#{seq};
	</update>
	
	<update id="updateSent">
		UPDATE receipient_mail SET is_delete=true WHERE seq=#{seq};
	</update>
	
	<delete id="deleteInbox">
	    DELETE FROM sender_mail WHERE seq=#{seq};
	</delete>
	
	<delete id="deleteSent">
	    DELETE FROM receipient_mail WHERE seq=#{seq};
	</delete>

</mapper>