<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mails">

	<insert id="insert" useGeneratedKeys="true" keyProperty="seq">
		INSERT INTO Mail VALUES(default,#{title} ,#{writer},
		#{contents}, default, default, #{category});
	</insert>

	<select id="selectBySeq" resultType="com.kdt.dto.MailDTO">
		SELECT * FROM Mail WHERE
		SEQ=#{seq};
	</select>

	<select id="selectAll" resultType="com.kdt.dto.MailDTO">
		SELECT * FROM Mail order
		by seq desc;
	</select>

	<select id="selectAllSend" resultType="com.kdt.dto.MailDTO">
		SELECT * FROM Mail WHERE
		CATEGORY='전사 공지' order by seq desc;
	</select>

	<select id="selectAllTemp" resultType="com.kdt.dto.MailDTO">
		SELECT * FROM Mail
		WHERE CATEGORY='전사 자유' order by seq desc;
	</select>

	<select id="selectAllSpam" resultType="com.kdt.dto.MailDTO">
		SELECT * FROM Mail WHERE
		CATEGORY='부서 공지' order by seq desc;
	</select>

	<select id="selectAllToMe" resultType="com.kdt.dto.MailDTO">
		SELECT * FROM Mail
		WHERE CATEGORY='부서 자유' order by seq desc;;
	</select>

	<delete id="deleteInbox">
		DELETE FROM Mail WHERE seq=#{seq};
	</delete>
	
	<delete id="deleteSent">
		DELETE FROM Mail WHERE seq=#{seq};
	</delete>

	<update id="update">
		UPDATE Mail SET title=#{title},
		contents=#{contents}, category=#{category} WHERE seq=#{seq};
	</update>

</mapper>