<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VacationBalance">

	<select id="selectAll"
		resultType="com.kdt.dto.VacationBalancesDTO">
		select * from VacationBalanceView
	</select>

	<select id="selectVacationByMemberID"
		resultType="com.kdt.dto.VacationBalancesDTO">
		SELECT * FROM VacationBalanceView
		WHERE MemberID =
		#{memberID};
	</select>

	<insert id="Initial_Vacation">
		INSERT INTO VacationBalances (MemberID, Year,
		TotalAnnualEntitlement, UsedDays)
		SELECT m.id, YEAR(CURDATE()),
		CASE
			WHEN m.position = '인턴' THEN 15
			WHEN m.position = '사원' THEN 20
			WHEN m.position = '대리' THEN 25
			WHEN m.position = '팀장' THEN 30
			WHEN m.position = '부장' THEN 35
			WHEN m.position = '대표' THEN 40
			ELSE 20
			END,0
		FROM member m
		WHERE m.id = #{id}; 
	</insert>

	<update id="selectmyVacationUpdateByMemberID">
		update VacationBalances set UsedDays =
		#{amount} where
		MemberID=#{memberID}
	</update>

	<update id="addVacation">
		update VacationBalances set TotalAnnualEntitlement =
		TotalAnnualEntitlement+#{amount} where MemberID=#{memberID}
	</update>

	<update id="subtractVacation">
		update VacationBalances set TotalAnnualEntitlement =
		TotalAnnualEntitlement-#{amount} where MemberID=#{memberID}
	</update>
</mapper>